	/* Général */

body
{
	font-family: "Comfortaa", sans-serif;
	line-height: 1.5;
	margin: 0;
	padding-top: 51px;
	padding-left: 300px;
	padding-bottom: 50px;
	position: relative;
	min-height: calc(100vh - 106px);
	letter-spacing: 0.2px;
}

#content
{
	max-width: 90%;
	margin: auto;
	margin-top: 40px;
}

input, textarea
{
	font-family: "Comfortaa", sans-serif;
	line-height: 1.5;
	font-size: 14px;
	letter-spacing: 0.2px;
}

section
{
	margin-top: 45px;
}

a
{
	color: #000;
	text-decoration: none;
}

h1
{
	font-size: 26px;
	margin-bottom: 30px;
}

h2
{
	font-size: 20px;
}

.category h2, .day h2, .list h2
{
	cursor: pointer;
	width: max-content;
}

.reccuring
{
	background-color: #DFDFDF;
}

.button
{
	cursor: pointer;
    font-size: 14px;
    padding: 8px 15px;
    background-color: #2A6EC9;
    border-radius: 3px;
    color: #FFF;
    box-shadow: 1px 1px 2px #000;
    border: none;
    white-space: nowrap;
    font-weight: bold;
    width: min-content;
}

.active
{
	font-weight: bold;
}

.invisible
{
	display: none !important;
}

.line
{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.15);
	margin-top: 10px;
	margin-bottom: 10px;
}

.grey
{
	color: #A5A5A5;
	font-size: 14px;
}

.blue
{
	color: #2A6EC9;
}

h1 span.grey, h2 span.grey
{
	font-size: 16px;
}

#background
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(70, 70, 70, 0.5);
	z-index: 1001;
}

.dateformat
{
	font-size: 18px;
	font-weight: normal;
	margin-left: 10px;
	margin-right: 10px;
}

.edit, .delete
{
	cursor: pointer;
}

.fa-exclamation-circle
{
	color: #F00;
}

.fa-check
{
	color: #0B1;
}

.fa-caret-up, .fa-caret-down
{
	margin-left: 5px;
	margin-right: 5px;
}


	/* Menu de navigation principal */

header
{
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

#top-nav
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #2A6EC9;
	color: #FFF;
}

#top-nav ul
{
	display: flex;
	list-style: none;
	padding: 0;
	margin-right: 5%;
}

#top-nav ul li
{
	margin-right: 10px;
	margin-left: 10px;
}

#logo
{
	width: 125px;
	height: 40px;
	margin-right: 5%;
	margin-left: 5%;
}

#logo img
{
	width: 100%;
}

#top-nav i
{
	font-size: 20px;
	cursor: pointer;
}

#top-nav #submenu
{
	position: absolute;
	right: 4%;
	top: 45px;
	display: flex;
	flex-direction: column;
	margin: 0;
	z-index: 1000;
}

#top-nav #submenu li
{
	border: 1px solid #F8F9FA;
	background-color: #2A6EC9;
	border-top: none;
	padding: 10px;
	width: 180px;
	text-align: right;
	margin-left: 0;
	margin-right: 0;
}

#top-nav #submenu li:first-child
{
	border-top: 1px solid #F8F9FA;
}

#submenu a
{
	padding: 10px;
	color: #FFF;
}

#submenu a:hover
{
	font-weight: bold;
}

form#search
{
	margin-left: 30%;
}

header input[type="search"]
{
	width: 200px;
	height: 25px;
	padding-left: 24px;
}

.fa-search
{
	position: relative;
	left: 22px;
	color: #BBB;
	cursor: none !important;
	font-size: 15px !important;
}


	/* Menu de navigation secondaire */

#left-nav
{
	position: fixed;
	top: 56px;
	left: 0;
	bottom: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	width: 300px;
	height: 100%;
	z-index: 999;
	background-color: #F8F9FA;
}

#left-nav ul
{
	list-style: none;
	margin: 0;
	padding: 35px 30px;
}

#left-nav li
{
	padding: 15px 10px;
}

#left-nav li a:hover
{
	font-weight: bold;
}

#left-nav li:first-child
{
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

#left-nav li:first-child span
{
	margin: 0;
}

#left-nav i
{
	margin-right: 5px;
}


	/* Formulaire des tâches */

#task-form
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) perspective(1px);
	width: 360px;
	z-index: 1002;
	background-color: #FFF;
	border-radius: 5px;
}

#task-form h2
{
	font-size: 17px;
	padding: 10px 15px;
	background-color: #2A6EC9;
	margin: 0;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#task-form .fa-times
{
	position: absolute;
	top: 1px;
	right: 3px;
	padding: 10px;
	cursor: pointer;
	color: #FFF;
}

#task-form div, #task-form p
{
	padding-left: 30px;
	padding-right: 30px;
}

#time-menu div, #time-menu p, #list-menu div, #list-menu p
{
	padding: 0;
}

#task-form input[type="text"]
{
	width: 288px;
	padding: 4px;
}

#task-form input[type="text"]:first-child
{
	margin-top: 10px;
}

#task-form form p:nth-child(2)
{
	display: flex;
	justify-content: space-between;
	padding-bottom: 8px;
	padding-top: 8px;
	align-items: center;
}

#task-form form p:nth-child(2) i
{
	cursor: pointer;
	margin-top: 8px;
	padding-left: 5px;
	padding-right: 5px;
}

#time-menu
{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #DFDFDF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#time-menu label
{
	margin-left: 5px;
	margin-right: 5px;
}

#time-menu p
{
	display: flex;
	align-items: center;
	justify-content: initial !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

#time-menu input[type="date"]
{
	padding: 1.5px;
	width: 146px;
}

#time-menu input[type="number"]
{
	width: 37px;
	margin-right: 2px;
}

#time-menu select
{
	padding: 4px;
	width: 96px;
}

#list-menu
{
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #DFDFDF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#list-menu div
{
	display: flex;
	justify-content: center;
}

#list-menu select
{
	padding: 4px;
	width: 132px;
}

#list-menu p
{
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

#task-form form p#new_list
{
	margin-top: -1px;
	margin-bottom: 0;
	margin-left: 26px;
	display: block;
}

#new_list input[type="text"]
{
	width: 151px;
}


	/* Listes */

#list-form
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) perspective(1px);
	width: 360px;
	z-index: 1002;
	background-color: #FFF;
	border-radius: 5px;
}

#list-form h2
{
	font-size: 17px;
	padding: 10px 15px;
	background-color: #2A6EC9;
	margin: 0;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#list-form .fa-times
{
	position: absolute;
	top: 1px;
	right: 3px;
	padding: 10px;
	cursor: pointer;
	color: #FFF;
}

#list-form form
{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}

#list-form form p
{
	margin-bottom: 10px;
}

#list-form form label
{
	font-size: 14px;
}


#list-form input[type="text"]
{
	width: 288px;
	padding: 4px;
	margin-top: 10px;
	margin-bottom: 6px;
}

#list textarea
{
	padding: 4px;
	width: 290px;
	height: 100px;
	resize: none;
}

#add-list.button
{
	padding: 10px 15px;
}

#list p.grey
{
	margin-top: -12px;
}

#list h2.list-name
{
	margin-top: 35px;
	display: inline-block;
}

#list h2.list-name i
{
	margin-left: 10px;
}

.progress-bar
{
	display: inline-block;
	width: 175px;
	height: 10px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-left: 5px;
}

.progress
{
	display: inline-block;
	height: 10px;
	background-color: #2A6EC9;
	position: absolute;
}


	/* Pop-up */

#popup
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) perspective(1px);
	width: 360px;
	z-index: 1002;
	background-color: #FFF;
	border-radius: 5px;
}

#popup h2
{
	font-size: 17px;
	padding: 10px 15px;
	background-color: #2A6EC9;
	margin: 0;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#popup .fa-times
{
	position: absolute;
	top: 1px;
	right: 3px;
	padding: 10px;
	cursor: pointer;
	color: #FFF;
}

#popup p
{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#popup p:last-child
{
	text-align: center;
}

#popup p:last-child a
{
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 25px;
	padding-right: 25px;
}


	/* Tâches */

.table-task
{
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
}

.table-task tbody:before
{
	content: "-";
    display: block;
    line-height: 10px;
    color: transparent;
}

tr.task:first-child
{
	border-top: 3px solid rgba(0, 0, 0, 0.15);
}

.task td
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	min-width: 100px;
	text-align: center;
	padding: 10px;
}

.task td:first-child
{
	text-align: left;
	min-width: 200px;
}

.addtask-all, .addtask-important, .addtask-today, .addtask-day
{
	margin-left: 10px;
	margin-bottom: 50px;
	cursor: pointer;
	width: max-content;
}

.addtask-list
{
	margin-left: 10px;
	margin-bottom: 30px;
	cursor: pointer;
	width: max-content;
}


	/* Footer */

footer
{
	position: absolute;
	bottom: 0;
	left: 301px;
	right: 0;
	height: 52px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	z-index: 999;
	background-color: #F8F9FA;
	font-size: 15px;
}

footer ul
{
	display: flex;
	list-style-type: none;
}

footer ul li
{
	padding: 5px;
}

footer select
{
	padding: 3px;
}


	/* Tableau de bord */

#dashboard h2
{
	margin-top: 40px;
}

.graph-path
{
	fill: transparent;
	stroke-width: 2px;
	stroke: #2A6EC9;
}

.graph-fill
{
	stroke-width: 0;
	stroke: #2A6EC9;
	fill: rgba(42, 111, 201, 0.5);
}

#overview
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#overview div
{
	width: 220px;
	height: 120px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	text-align: center;
	margin-bottom: 50px;
}

#overview div p
{
	width: 200px;
	margin: 10px;
	margin-bottom: 20px;
}

#overview div:first-child p:first-child
{
	margin-top: 27px;
}

#overview div:first-child p:nth-child(2)
{
	margin-bottom: 40px;
}

#overview div:nth-child(2) p
{
	margin-top: 52px;
	margin-bottom: 60px;
}

#overview div svg
{
	margin-bottom: 7px;
}

#overview div svg circle:hover
{
	r: 5px;
}

#overview div span
{
	font-weight: bold;
	font-size: 15px;
}

	/* 7 Prochains Jours */

.day h2 span.dateformat
{
	font-size: 20px;
	font-weight: bold;
	margin-left: 0;
	margin-right: 0;
}

.day h2
{
	margin-top: 40px;
}


	/* Retard */

#overdue table
{
	margin-bottom: 50px;
}


	/* Archives */

#archives table
{
	margin-bottom: 50px;
}


	/* Recherche */

#search table
{
	margin-bottom: 50px;
}


	/* Options */

.option_button
{
	cursor: pointer;
    line-height: 250%;
    background-color: #2A6EC9;
    border-radius: 3px;
    color: #FFF;
    box-shadow: 1px 1px 2px #000;
    border: none;
    white-space: nowrap;
    font-weight: bold;
    max-width: 600px;
    padding-left: 40px;
    margin: 10px 20px;
}

.option_content
{
	margin: 10px 60px;
	font-size: 15px;
}

.option_content p
{
	margin-block-start: 10px;
	margin-block-end: 10px;
}