	/* Général */

body
{
	font-family: "Montserrat", sans-serif;
	margin-top: 93px;
	margin-left: 340px;
	margin-right: 40px;
}

input, textarea
{
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
}

a
{
	color: #000;
	text-decoration: none;
}

h1
{
	font-size: 26px;
	margin-bottom: 30px;
}

h2
{
	font-size: 20px;
}

.reccuring
{
	background-color: #DFDFDF;
}

.button
{
	cursor: pointer;
}

.active
{
	font-weight: bold;
}

.invisible
{
	display: none !important;
}

.line
{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.15);
	margin-top: 10px;
	margin-bottom: 10px;
}

.grey
{
	color: #A5A5A5;
	font-size: 14px;
}

#background
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(70, 70, 70, 0.5);
	z-index: 1001;
}

.dateformat
{
	font-size: 18px;
	font-weight: normal;
	margin-left: 10px;
}


	/* Menu de navigation principal */

header
{
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

#top-nav
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #2A6EC9;
	color: #FFF;
}

#top-nav ul
{
	display: flex;
	list-style: none;
	padding: 0;
	margin-right: 5%;
}

#top-nav ul li
{
	margin-right: 10px;
	margin-left: 10px;
}

#logo
{
	width: 125px;
	height: 40px;
	margin-right: 5%;
	margin-left: 5%;
}

#logo img
{
	width: 100%;
}

#top-nav i
{
	font-size: 20px;
	cursor: pointer;
}

#top-nav #submenu
{
	position: absolute;
	right: 2%;
	top: 53px;
	display: flex;
	flex-direction: column;
	margin: 0;
	z-index: 1000;
}

#submenu li
{
	border: 1px solid #000;
	background-color: #FFF;
	border-top: none;
	padding: 5px;
}

#submenu li:first-child
{
	border-top: 1px solid #000;;
}

#submenu a
{
	padding: 5px;
}


	/* Menu de navigation secondaire */

#left-nav
{
	position: fixed;
	top: 53px;
	left: 0;
	bottom: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	width: 300px;
	height: 100%;
	z-index: 999;
	background-color: #F8F9FA;
}

#left-nav ul
{
	list-style: none;
	margin: 0;
	padding: 35px 30px;
}

#left-nav li
{
	padding: 15px 10px;
}

#left-nav i
{
	margin-right: 5px;
}


	/* Formulaire des tâches */

#task-form
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	border: 1px solid #000;
	z-index: 1002;
	padding: 0 30px;
	background-color: #FFF;
}

#task-form h2
{
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 4px;
}

#task-form .fa-times
{
	position: absolute;
	top: 10px;
	right: 20px;
	padding: 10px;
	cursor: pointer;
}

#task-form input[type="text"]
{
	width: 288px;
	padding: 4px;
}

#task-form form p:nth-child(2)
{
	display: flex;
	justify-content: space-between;
	padding-bottom: 5px;
	padding-top: 5px;
}

#task-form form p:nth-child(2) i
{
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

#time-menu
{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	border-top: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

#time-menu label
{
	margin-left: 5px;
	margin-right: 5px;
}

#time-menu p
{
	display: flex;
	align-items: center;
	justify-content: initial !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

#time-menu input[type="date"]
{
	padding: 1.5px;
	width: 146px;
}

#time-menu input[type="number"]
{
	width: 37px;
	margin-right: 2px;
	padding: 4px;
}

#time-menu select
{
	padding: 4px;
}

#list-menu
{
	display: flex;
	justify-content: center;
	font-size: 14px;
	border-top: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

#list-menu select
{
	padding: 4px;
	min-width: 100px;
}


	/* Listes */

#list-form
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	border: 1px solid #000;
	z-index: 1002;
	padding: 0 30px;
	background-color: #FFF;
}

#list-form h2
{
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 4px;
}

#list-form .fa-times
{
	position: absolute;
	top: 10px;
	right: 20px;
	padding: 10px;
	cursor: pointer;
}

#list-form input[type="text"]
{
	width: 288px;
	padding: 4px;
	margin-bottom: 6px;
}

#list textarea
{
	padding: 4px;
	width: 290px;
	height: 100px;
	resize: none;
}


	/* Pop-up */

#popup
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	border: 1px solid #000;
	z-index: 1002;
	padding: 0 30px;
	background-color: #FFF;
}

#popup h2
{
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 4px;
}

#popup .fa-times
{
	position: absolute;
	top: 10px;
	right: 20px;
	padding: 10px;
	cursor: pointer;
}


	/* Tâches */

.table-task
{
	border-collapse: collapse;
	width: 100%;
}

.table-task tbody:before
{
	content: "-";
    display: block;
    line-height: 10px;
    color: transparent;
}

tr.task:first-child
{
	border-top: 3px solid rgba(0, 0, 0, 0.15);
}

.task td
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	min-width: 100px;
	text-align: center;
	padding: 10px;
}

.task td:first-child
{
	text-align: left;
	min-width: 200px;
}

.addtask-all, .addtask-list, .addtask-important, .addtask-today
{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 50px;
}

