	/* Général */

html
{
	scroll-behavior: smooth;
}

body
{
	font-family: "Montserrat", sans-serif;
	padding-top: 101px;
	padding-bottom: 54px;
	position: relative;
	min-height: calc(100vh - 154px);
	margin: 0;
}

.invisible
{
	display: none;
}


	/* Menu de navigation */

header
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	height: 100px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	background-color: #F8F9FA;
}

nav
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

nav ul
{
	display: flex;
	list-style: none;
	padding: 0;
}

nav ul:last-child
{
	margin-right: 10%;
}

nav ul li
{
	margin-right: 30px;
	margin-left: 30px;
	text-align: center;
}

#logo
{
	width: 250px;
	margin-right: 5%;
	margin-left: 5%;
}

#logo img
{
	width: 100%;
}

	/* Footer */

footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 52px;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	z-index: 999;
	background-color: #F8F9FA;
	font-size: 15px;
}

footer ul
{
	display: flex;
	list-style-type: none;
	margin: 0;
	padding-inline-start: 0;
}

footer ul li
{
	padding: 5px;
}

footer select
{
	padding: 3px;
}