	/* Général */

html
{
	scroll-behavior: smooth;
}

body
{
	font-family: "Comfortaa", sans-serif;
	line-height: 1.5;
	padding-top: 100px;
	position: relative;
	min-height: calc(100vh - 154px);
	margin: 0;
}

a
{
	color: #000;
	text-decoration: none;
}

input, textarea
{
	padding: 4px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	letter-spacing: 0.2px;
	font-size: 16px;
}

input
{
	width: 268px;
}

textarea
{
	width: 270px;
	height: 130px;
	resize: none;
}

label
{
	margin-right: 10px;
	font-size: 16px;
}

.invisible
{
	display: none;
}

.center
{
	text-align: center;
}

.button
{
	cursor: pointer;
    font-size: 14px;
    padding: 8px 15px;
    background-color: #2A6EC9;
    border-radius: 3px;
    color: #FFF;
    box-shadow: 1px 1px 2px #000;
    border: none;
    white-space: nowrap;
    font-weight: bold;
    width: min-content;
}

#features_anchor, #contact_anchor
{
	position: relative;
	bottom: 100px;
}

.column
{
	width: 20%;
	max-width: 350px;
	background-color: #2A6EC9;
}

.blank
{
	width: 45%;
	min-height: calc(100vh - 220px);
	padding-top: 60px;
	padding-bottom: 60px;
}

.return
{
	margin-top: 60px;
	margin-bottom: -30px;
	font-style: italic;
	font-size: 16px !important;
}

.green
{
	color: #00890D;
}

.red
{
	color: #EC0000;
}


	/* Menu de navigation */

header
{
	height: 100px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	background-color: #F8F9FA;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

nav
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

nav ul
{
	display: flex;
	list-style: none;
	padding: 0;
}

nav ul:last-child
{
	margin-right: 10%;
}

nav ul li
{
	margin-right: 25px;
	margin-left: 25px;
	text-align: center;
}

nav ul li a:hover
{
	border-bottom: 2px solid #2A6EC9;
	padding-bottom: 15px;
}

#logo
{
	width: 250px;
	margin-right: 5%;
	margin-left: 5%;
}

#logo img
{
	width: 100%;
	max-width: 181px;
}

header i.fa-bars
{
	display: none;
	padding: 10px;
	cursor: pointer;
}


	/* Footer */

footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 52px;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	z-index: 999;
	background-color: #F8F9FA;
	font-size: 15px;
}

footer ul
{
	display: flex;
	list-style-type: none;
	margin: 0;
	padding-inline-start: 0;
}

footer ul li
{
	padding: 5px;
}

footer ul li a
{
	color: #000;
	text-decoration: none;
}

footer select
{
	padding: 3px;
}


	/* Accueil */

#home
{
	background-image: url("../../public/images/frontend/home.jpeg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: calc(100vh);
	margin-top: -100px;
	position: relative;
	text-align: center;
}

#accueil, #fonctionnalites, #nous-contacter
{
	margin-top: -100px !important;
}

#home h1
{
	text-align: center;
	font-size: 3em;
	max-width: 80%;
	margin: auto;
	padding-top: 22vh;
}

#home div
{
	margin-top: 50px;
}

#home a
{
	color: #FFF;
	font-size: 18px;
	padding: 12px 20px;
}

#home .chevron
{
	color: #000;
	position: absolute;
	left: calc(50% - 35.75px);
	right: calc(50% - 35.75px);
	bottom: 10px;
	animation: 2s infinite bounce;
}

#features
{
	display: flex;
	background-color: #F8F9FA;
}

#features .column
{
	margin-left: 12%;
	margin-right: 9%;
}

#features .blank
{
	margin-right: 12%;	
}

#features img
{
	width: 100%;
	max-width: 750px;
	margin-top: 25px;
}

#features h2, #contact h2
{
	font-size: 34px;
}

#features p, #contact p
{
	font-size: 18px;
}

#contact
{
	display: flex;
}

#contact .column
{
	margin-right: 11%;
	margin-left: 7%;
}

#contact .blank
{
	margin-left: 17%;
	margin-bottom: 60px;
	min-height: calc(100vh - 280px);
}

#contact form
{
	margin: auto;
	width: max-content;
	margin-top: 70px;
}

	
	/* Connexion et Inscription */

#connexion, #inscription, #password
{
	display: flex;
}

#connexion h1, #inscription h1, #password h1
{
	font-size: 34px;
}

#connexion .column, #inscription .column, #password .column
{
	margin-left: 12%;
	margin-right: 9%;
	height: auto;
}

#connexion .blank, #inscription .blank, #password .blank
{
	margin-right: 12%;
	min-height: calc(100vh - 273px)
	margin-bottom: 53px;
}

#connexion form, #inscription form
{
	width: max-content;
	margin-top: 70px;
}

#password form
{
	width: max-content;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

#connexion input[type="checkbox"], #inscription input[type="checkbox"]
{
	width: initial;
	margin: 0;
}

#connexion p:nth-child(3), #connexion p:nth-child(4), #inscription p:nth-child(3), #inscription p:nth-child(4)
{
	margin: 0;
}

#connexion form table p:hover, #inscription form table p:hover
{
	font-weight: bold;
}

#inscription input, #password input
{
	margin-left: 10px;
}

#password i
{
	margin-right: 2px;
}


	/* Mentions légales */

#legal
{
	display: flex;
}

#legal h1
{
	font-size: 34px;
}

#legal a
{
	color: #2A6EC9;
	text-decoration: underline;
}

#legal .column
{
	margin-left: 12%;
	margin-right: 9%;
	height: auto;
}

#legal .blank
{
	margin-right: 12%;
	height: 100%;
	padding-bottom: 60px;
	margin-bottom: 53px;
}


	/* Cookies */

#cookies
{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2000;
	text-align: center;
	background-color: #000;
	color: #FFF;
	line-height: 200%;
}

#cookies span, #cookies a
{
	margin-left: 5px;
	margin-right: 5px;
}

#cookies a
{
	font-size: 14px;
	color: #FFF;
}

#cookies span.button
{
	margin-top: 10px;
	background-color: #000;
	border: 1px solid #353232;
}

#cookies span.button:hover
{
	background-color: #353232;
}

#cookies a:hover
{
	font-weight: bold;
}


	/* Keyframes */

@keyframes bounce
{
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-15px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}


	/* Breakpoints */

@media all and (min-width: 1024px)
{
	header nav
	{
		display: flex !important;
	}

	header i.fa-bars
	{
		display: none;
	}

	#left-nav
	{
		display: block;
	}
}

@media all and (max-width: 1023px)
{
	/* Général */

	input
	{
		width: 200px;
	}

	textarea
	{
		width: 202px;
	}

	.blank
	{
		width: 50%;
	}


	/* Menu de navigation */

	header
	{
		justify-content: space-around;
	}

	header i.fa-bars
	{
		display: block;
	}

	header nav
	{
		display: none;
		width: max-content;
		position: absolute;
		right: 12%;
		top: 75px;
		z-index: 1000
	}

	header nav ul
	{
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	header nav li
	{
		border: 1px solid #F8F9FA;
		background-color: #2A6EC9;
		border-top: none;
		padding: 10px;
		width: 180px;
		text-align: right;
		margin-left: 0;
		margin-right: 0;
	}

	header nav ul:first-child li:first-child
	{
		border-top: 1px solid #F8F9FA;
	}

	header nav a
	{
		padding: 10px;
		color: #FFF;
	}

	header nav ul li a:hover
	{
		font-weight: bold;
		border-bottom: none;
	}

	#left-nav
	{
		display: none;
	}


	/* Accueil */

	#features img
	{
		margin-top: 50px;
	}

	#features .blank
	{
		margin-right: 8%;
	}

	#features .column, #contact .column
	{
		margin-left: 8%;
		margin-right: 8%;
	}

	#contact .blank
	{
		margin-left: 13%;
	}
}


@media all and (max-width: 768px)
{
	/* Général */

	.blank
	{
		width: 68%;
	}

	#legal .blank, #connexion .blank, #inscription .blank, #password .blank
	{
		margin-bottom: 80px;
		min-height: calc(100vh - 300px)
	}


	/* Menu de navigation */

	header nav
	{
		right: 8%;
	}


	/* Accueil */

	#features .blank
	{
		margin-right: 3%;
	}

	#features .column
	{
		margin-left: 3%;
		margin-right: 8%;
	}

	#contact .column
	{
		margin-left: 3%;
		margin-right: 3%;
	}

	#contact .blank
	{
		margin-left: 8%;
		margin-bottom: 80px;
		min-height: calc(100vh - 300px);
	}


	/* Footer */

	footer
	{
		flex-direction: column;
		justify-content: center;
		height: 80px;
	}

	footer ul
	{
		margin-left: auto;
		margin-right: auto;
	}

	footer select
	{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

@media all and (max-width: 550px)
{
	/* Général */

	.blank
	{
		width: calc(89% - 50px);
	}

	.column
	{
		width: 50px;
	}

	#connexion .column, #inscription .column, #password .column
	{
		margin-left: 3%;
		margin-right: 5%;
	}


	/* Menu de navigation */

	header nav
	{
		right: 3%;
	}


	/* Accueil */

	#features .blank
	{
		margin-right: 3%;
	}

	#features .column
	{
		margin-left: 3%;
		margin-right: 5%;
	}

	#contact .column
	{
		margin-left: 3%;
		margin-right: 3%;
	}

	#contact .blank
	{
		margin-left: 5%;
	}
}


@media all and (max-width: 475px)
{
	/* Général */

	input
	{
		width: 165px;
	}

	textarea
	{
		width: 167px;
	}

	.blank
	{
		margin-right: 3% !important;
		margin-left: 3% !important;
		padding-top: 30px;
		padding-bottom: 30px;
		width: 94%;
	}

	.column
	{
		display: none;
	}

	#legal .blank, #connexion .blank, #inscription .blank, #password .blank
	{
		margin-bottom: 188px;
		min-height: calc(100vh - 348px)
	}

	#connexion .blank, #inscription .blank, #password .blank
	{
		text-align: -webkit-center;
	}

	#connexion label, #connexion p, #inscription label, #inscription p, #password label, #password p
	{
		font-size: 14px;
		margin-right: 0;
	}


	/* Accueil */

	#home h1
	{
		font-size: 2.5em;
	}

	#features .blank
	{
		min-height: calc(100vh - 160px);
	}

	#contact .blank
	{
		margin-bottom: 188px;
		min-height: calc(100vh - 468px);
	}

	#contact label
	{
		font-size: 14px;
		margin-right: 0;
	}


	/* Footer */

	footer
	{
		height: 188px;
	}

	footer ul
	{
		flex-direction: column;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	footer ul li:nth-child(2), footer ul li:nth-child(4), footer ul li:nth-child(6)
	{
		display: none;
	}

	footer select
	{
		margin-bottom: 10px;
	}
}