	/* Général */

html
{
	scroll-behavior: smooth;
}

body
{
	font-family: "Comfortaa", sans-serif;
	line-height: 1.5;
	padding-top: 100px;
	padding-bottom: 54px;
	position: relative;
	min-height: calc(100vh - 154px);
	margin: 0;
}

a
{
	color: #000;
	text-decoration: none;
}

input, textarea
{
	padding: 4px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	letter-spacing: 0.2px;
	font-size: 16px;
}

input
{
	width: 268px;
}

textarea
{
	width: 270px;
	height: 130px;
	resize: none;
}

label
{
	margin-right: 10px;
	font-size: 16px;
}

.invisible
{
	display: none;
}

.center
{
	text-align: center;
}

.button
{
	cursor: pointer;
    font-size: 14px;
    padding: 8px 15px;
    background-color: #2A6EC9;
    border-radius: 3px;
    color: #FFF;
    box-shadow: 1px 1px 2px #000;
    border: none;
    white-space: nowrap;
    font-weight: bold;
    width: min-content;
}

#features_anchor, #contact_anchor
{
	position: relative;
	bottom: 100px;
}

.return
{
	margin-top: 60px;
	margin-bottom: -30px;
	font-style: italic;
	font-size: 16px !important;
}

.green
{
	color: #00890D;
}

.red
{
	color: #EC0000;
}


	/* Menu de navigation */

header
{
	height: 100px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	background-color: #F8F9FA;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

nav
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

nav ul
{
	display: flex;
	list-style: none;
	padding: 0;
}

nav ul:last-child
{
	margin-right: 10%;
}

nav ul li
{
	margin-right: 30px;
	margin-left: 30px;
	text-align: center;
}

nav ul li a:hover
{
	border-bottom: 2px solid #2A6EC9;
	padding-bottom: 15px;
}

#logo
{
	width: 250px;
	margin-right: 5%;
	margin-left: 5%;
}

#logo img
{
	width: 100%;
}

	/* Footer */

footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 52px;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	z-index: 999;
	background-color: #F8F9FA;
	font-size: 15px;
}

footer ul
{
	display: flex;
	list-style-type: none;
	margin: 0;
	padding-inline-start: 0;
}

footer ul li
{
	padding: 5px;
}

footer ul li a
{
	color: #000;
	text-decoration: none;
}

footer select
{
	padding: 3px;
}


	/* Accueil */

.column
{
	width: 20%;
	max-width: 350px;
	height: calc(100vh - 100px);
	background-color: #2A6EC9;
}

.blank
{
	width: 45%;
	height: calc(94vh - 100px);
	padding-top: 6vh;
}

#home
{
	background-image: url("../../public/images/frontend/home.jpeg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: calc(100vh);
	margin-top: -100px;
	position: relative;
	text-align: center;
}

#accueil
{
	margin-top: -50px !important;
}

#home h1
{
	text-align: center;
	font-size: 3em;
	max-width: 80%;
	margin: auto;
	padding-top: 22vh;
}

#home div
{
	margin-top: 50px;
}

#home a
{
	color: #FFF;
	font-size: 18px;
	padding: 12px 20px;
}

#home .chevron
{
	color: #000;
	position: absolute;
	bottom: 10px;
	animation: 2s infinite bounce;
}

#features
{
	display: flex;
	background-color: #F8F9FA;
}

#features .column
{
	margin-left: 12%;
	margin-right: 9%;
}

#features .blank
{
	margin-right: 12%;	
}

#features img
{
	width: 100%;
	max-width: 750px;
	margin-top: 25px;
}

#features h2, #contact h2
{
	font-size: 34px;
}

#features p, #contact p
{
	font-size: 18px;
}

#contact
{
	display: flex;
}

#contact .column
{
	height: calc(100vh - 153px);
	margin-right: 11%;
	margin-left: 7%;
}

#contact .blank
{
	height: calc(80vh - 153px);
	margin-left: 17%;	
}

#contact form
{
	margin: auto;
	width: max-content;
	margin-top: 70px;
}

	
	/* Connexion et Inscription */

#connexion, #inscription
{
	display: flex;
}

#connexion h1, #inscription h1
{
	font-size: 34px;
}

#connexion .column, #inscription .column
{
	margin-left: 12%;
	margin-right: 9%;
	height: auto;
}

#connexion .blank, #inscription .blank
{
	margin-right: 12%;
	height: calc(94vh - 214px);
	padding-bottom: 60px;
}

#connexion form, #inscription form
{
	width: max-content;
	margin-top: 70px;
}

#connexion input[type="checkbox"], #inscription input[type="checkbox"]
{
	width: initial;
	margin: 0;
}

#connexion form table tr:nth-child(5) p, #inscription form table tr:nth-child(6) p
{
	margin-bottom: 0;
}

#connexion form table tr:last-child p, #inscription form table tr:last-child p
{
	margin: 0;
}

#connexion form table p:hover, #inscription form table p:hover
{
	font-weight: bold;
}

#inscription input
{
	margin-left: 10px;
}


	/* Mentions légales */

#legal
{
	display: flex;
}

#legal h1
{
	font-size: 34px;
}

#legal a
{
	color: #2A6EC9;
	text-decoration: underline;
}

#legal .column
{
	margin-left: 12%;
	margin-right: 9%;
	height: auto;
}

#legal .blank
{
	margin-right: 12%;
	height: 100%;
	padding-bottom: 60px;
}


	/* Cookies */

#cookies
{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2000;
	text-align: center;
	background-color: #000;
	color: #FFF;
	line-height: 200%;
}

#cookies span, #cookies a
{
	margin-left: 5px;
	margin-right: 5px;
}

#cookies a
{
	font-size: 14px;
	color: #FFF;
}

#cookies span.button
{
	margin-top: 10px;
	background-color: #000;
	border: 1px solid #353232;
}

#cookies span.button:hover
{
	background-color: #353232;
}

#cookies a:hover
{
	font-weight: bold;
}


	/* Keyframes */

@keyframes bounce
{
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-15px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}